<a href="https://colab.research.google.com/github/tomeuff/data_science_lekcje/blob/main/numpy_wstep.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np

Zadanie 1.1.

In [ ]:
print(dir(np))

Zadanie 1.2.

In [ ]:
print(help(np))

Zadanie 2.1.

In [ ]:
tab1D_1 = np.array([3, -1, 8, 9, 2, 7, 11])
print(tab1D_1)
print(tab1D_1.ndim)
print(tab1D_1.shape)
print(tab1D_1.size)
print(tab1D_1.dtype)

Zadanie 2.2.

In [ ]:
tab1D_2 = np.array([3, -1, 8, 9, 2, 7, 11], dtype = 'float')
print(tab1D_2)

Zadanie 3.1.

In [ ]:
tab2D = np.array([[1, 4, 7], [2, 8, 11]])

pom_tab3D = []
for i in range(3):
  pom_tab2D = []
  for j in range(2):
    pom_tab1D = []
    for k in range(2):
      pom_tab1D.append((i + 1) + (j + 1) + (k + 1))
    pom_tab2D.append(pom_tab1D)
  pom_tab3D.append(pom_tab2D)

tab3D = np.array(pom_tab3D)

print(tab2D)
print()
print(tab3D)

Zadanie 3.2.

In [ ]:
print(tab2D.ndim, tab3D.ndim)
print(tab2D.shape, tab3D.shape)

Zadanie 4.1.

In [ ]:
tab4_1 = np.zeros(shape = (6, 7), dtype = 'float')

Zadanie 4.2.

In [ ]:
tab4_2 = np.ones(shape = (2, 3, 4))
print(tab4_2)

Zadanie 4.3.

In [ ]:
import random
liczba = random.randint(1, 100)
tab4_3 = np.full(shape = (8, ), fill_value = liczba)
print(tab4_3)

Zadanie 5.1.

In [ ]:
tab5_1 = np.arange(0, 1020, 20)

Zadanie 5.2.

In [ ]:
tab5_2 = np.arange(0, 1.01, 0.01)
print(tab5_2)

Zadanie 5.3.

In [ ]:
tab5_3 = np.linspace(0, 30, 50)
print(tab5_3)

Zadanie 6.1.

In [ ]:
import random
tab6_1 = np.array([random.randint(1, 1001) for _ in range(20)])
tab6_1_reshape = tab6_1.reshape((4, 5))
print(tab6_1_reshape)

Zadanie 6.2.

In [ ]:
import random
tab6_2 = np.array([random.randint(1, 1001) for _ in range(50)])
tab6_2_reshape = tab6_2.reshape((5, -1))
print(tab6_2_reshape)

Zadanie 6.3.

In [ ]:
import random
tab6_3 = np.array([random.randint(1, 1001) for _ in range(50)])
tab6_3_reshape = tab6_3.reshape((5, 2, -1))
print(tab6_3_reshape)

Zadanie 7.

In [ ]:
tab7 = np.array([[924, 130, 922, 87, 307],
[706, 622, 995, 18, 62],
[990, 673, 291, 517, 858],
[914, 735, 561, 830, 492],
[102, 234, 560, 450, 600]])

for i in range(tab7.shape[0]):
  print(tab7[i][i], end = ' ')